@page "/"
@using HPCTechMovieSite2024.Shared
@using Syncfusion.Blazor.Notifications

<PageTitle>Index</PageTitle>

@if (Movies?.Any() ?? false)
{
    <p>Favorite Movie List @(user is not null ? user.UserName : "")</p>
    <div class="container">
        <div class="row">
            @foreach (OMDBMovie movie in Movies)
            {
                <div class="col-lg-2 my-4">
                    <MovieDetails   Movie="movie" 
                                    OnRemoveFavoriteMovie="RemoveFavoriteMovie" 
                                    OnRatingChanged="MovieRatingChanged"
                                    AllowDelete="true" />
                </div>
            }
        </div>
    </div>
}
<SfToast    @ref="ToastObj"
            Content="@toastContent"
            CssClass="@toastSuccess"
            ShowCloseButton="true"
            ShowProgressBar="true"
            Timeout="3000">
    <ToastPosition X="Center" Y="Top"></ToastPosition>
</SfToast>
