@page "/"

<PageTitle>Index</PageTitle>

@if (user is not null)
{
    <p>movie list for @user.UserName</p>
    <ul>
        @foreach (HPCTechMovieSite2024.Shared.OMDBMovie movie in Movies)
        {
            <li>Movie Title: @movie.Title</li>
            <li>Movie Year: @movie.Year</li>
            <li>Movie Plot: @movie.Plot</li>
            <li>Poster: <img src=@($"https://img.omdbapi.com/?apikey=86c39163&i={movie.imdbID}") /></li>

        }
    </ul>
}
