@page "/"

<PageTitle>Index</PageTitle>

@if (user is not null)
{
    <p>movie list for @user.UserName</p>
    <ul>
        @foreach (HPCTechMovieSite2024.Shared.OMDBMovie movie in Movies)
        {
            <MovieDetails Movie="movie" />
        }
    </ul>
}
