@inherits LayoutComponentBase

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <LoginDisplay />
            <NavMenu />
        </div>
    </header>
    <main class="px-3">
        @Body
    </main>
</div>